<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="image")
      div
        img(src=url)
      div(class="author") Uploaded by: #{author}
      div(class="description") Description: #{description}
    div(class="editInfo")
      form(type="x-www-form-urlencoded" method="POST" action="/gallery/" + id + "?_method=PUT")
        h2 Enter the specified info:
        div(style="margin-top: 5px") URL:
          input(type="text" name="url" value=url)
        div(style="margin-top: 5px") Author:
          input(type="text" name="author" value=author)
        div(style="margin-top: 5px") Description:
          textarea(name="description")= description
        button(id="save" type="submit") Save
      div(class="buttons")
        form(method="POST" action="/gallery/" + id + "?_method=DELETE")
          button(type="submit") Delete
        form(method="POST" action="/gallery?_method=GET")
          button(type="submit") Home