<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    div
      div
        img(src=url)
      div(style="margin-bottom: 5px") Uploaded by: #{author}
      div(style="margin-bottom: 5px") Description: #{description}
    form(type="x-www-form-urlencoded" method="POST")
      div
        h2 Enter the specified info:
        div(style="margin-top: 5px") URL:
          input(type="text" name="url" style="width: 200px; margin-left: 20px" value=url)
        div(style="margin-top: 5px") Author:
          input(type="text" name="author" style="width: 186px; margin-left: 20px" value=author)
        div(style="margin-top: 5px") Description:
          textarea(name="description" style="width: 165px; height: 100px; vertical-align: top; margin-left: 10px" value=description)
      button(type="submit") Submit